.zentroca-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000;
  min-height: 600px;
  width: 100%;

  > h1 {
    color: #fff;
  }
}